# Should have a step to deploy to gh-pages

name: build-test-deploy
on: [push]
#
# on:
#   push:
#     branches:
#       - source
#   pull_request:
#     branches:
#       - source
#
# on:
#   schedule:
#     # Runs at 12am UTC
#     - cron: '0 0 * * *'
#   workflow_dispatch:
jobs:
  build:
    name: Build
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
    steps:
      - name: Extract Branch Name
        run: echo "BRANCH=$(echo ${GITHUB_REF##*/})" >> $GITHUB_ENV
      - uses: actions/checkout@v4
      - name: Checkout submodules
        run: make git
      - uses: actions/setup-java@v4
        with:
          distribution: "adopt"
          java-version: "16.0.0"
          architecture: x64
      - run: java -version
      - uses: actions/setup-python@v4
        with:
          python-version: "3.9"
          architecture: "x64"
      - run: python --version
      - run: pip install -r requirements.txt
      - uses: actions/setup-node@v4
        with:
          node-version: "15"
      - run: node --version
      - name: Make all
        run: make all
      - name: ls
        working-directory: ./
        run: ls
      # - name: Deploy
      #   uses: peaceiris/actions-gh-pages@v3
      #   if: env.BRANCH == 'source'
      #   with:
      #     github_token: ${{ secrets.GITHUB_TOKEN }}
      #     publish_dir: ./website/dist
      #     publish_branch: main # default: gh-pages
      #     keep_files: false # default: false
      #     force_orphan: true
      #     commit_message: "GitHub CI Updates [ci skip]"
